{%for cls in cluster %}
zone "{{ cls.base_domain }}" { type master; file "/etc/pdns/{{ cls.base_domain }}"; };
{%endfor%}
{%for cls in pdns.static %}
zone "{{ cls.base_domain }}" { type master; file "/etc/pdns/{{ cls.base_domain }}"; };
{%endfor%}
{% for pt in ptr %}
zone "{{ pt.addr.split('.')[2] }}.{{ pt.addr.split('.')[1] }}.{{ pt.addr.split('.')[0] }}.in-addr.arpa"  { type master; file "/etc/pdns/{{ pt.domain }}.reserve"; };
{% endfor %}