local-address={{ pdns.bind }}
local-port={{ pdns.recursor_port }}
# allow-from=192.168.7.0/0    #允许所有用户端请求
dnssec=off    #关闭dnssec
forward-zones={%for cls in cluster %}{{ cls.base_domain }}=127.0.0.1:{{ pdns.port }},{%endfor%}{%for cls in pdns.static %}{{ cls.base_domain }}=127.0.0.1:{{ pdns.port }},{%endfor%}{% for pt in ptr %}{{ pt.addr.split('.')[2] }}.{{ pt.addr.split('.')[1] }}.{{ pt.addr.split('.')[0] }}.in-addr.arpa=127.0.0.1:{{ pdns.port }},{% endfor %}

{% if pdns.forward is defined %}
forward-zones-recurse=.={{ pdns.forward }}
{% endif %}

setgid=pdns-recursor
setuid=pdns-recursor
security-poll-suffix=

max-negative-ttl=3